.left, .right{
    cursor    : pointer;
    position  : absolute;
    background: white;
    height    : 100%;
    width     : 5rem;
}
.left{
    left      : 0;
    top       : 0;
    box-shadow: 20px 0px 20px 0px white;
}

.right{
    right     : 0;
    top       : 0;
    box-shadow: -20px 0px 20px 0px white;
}

.left:active i, .right:active i{
    border: 1px solid rgb(58, 54, 54);
    border-radius: 50%;
    padding: .2rem;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.none{
    display: none !important;
}

.acordion{
    border     : 1px solid transparent;
    box-sizing : border-box;
    height     : 10rem;
    padding    : .5rem;
    display    : flex;
    align-items: center;
    overflow-x : scroll;
    scroll-behavior: smooth;
}
.acordion::-webkit-scrollbar {
    -webkit-appearance: none;
}
.acordion::-webkit-scrollbar-button:increment,.acordion::-webkit-scrollbar-button {
    display: none;
}
.acordion::-webkit-scrollbar:horizontal {
    height: 0px;
}

.imagen{
    min-width      : 8rem;
    height         : 75%;
    margin-left    : .5rem;
    margin-right   : .5rem;
    border-radius  : 1rem;
    display        : flex;
    justify-content: center;
    align-items    : center;
    cursor         : pointer;
}

.imagen:hover{
    transform: scale(1.2);
    box-shadow: 7px 7px 14px #cccecf, -7px -7px 14px #ffffff;
}